<!-- Anders Kaae Pedersen -->

<!DOCTYPE html>

<html>
    <head>
        <title> CA 3 </title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="jquery.js" type="text/javascript"></script>
        <script src="buttonfuncJS.js" type="text/javascript"></script>
        <link rel="stylesheet" type="text/css" href="myCSS.css">
    </head>
    <body>
        <div id="headLine"> <h1>CA 2 - WEBSITE</h1> </div>
        
        <div id="menuBar"></div>
        
        <div id="findPersonDIV">
            <p>person ID:</p>
            <input type="text" name="playerid" id="personInput"/>
            <button id="findPersonBtn">findPerson</button>
        </div>
        
        <div id="findAllDIV">
            <button id="findAllBtn">findAll</button>
        </div>
        
        <div id="addPersonDIV">           
        </div>
        
        <div id="deletePersonDIV">           
        </div>
        
        <div id="assignRoleDIV">           
        </div>
        
        
        
        <div id="result"></div>
        
    </body>
</html>
